/* global.css boilerplate */

/* 

Author: Tristan Brewster
License: MIT (no attribution required)

Happy coding!

*/

html, body {
    font-family: "Inter", 'Roboto', 'Open Sans', system-ui, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #111;
    line-height: 1.125;
    background-color: white;
    padding: 0;
    margin: 0;
  }
  
  /* normalize */
  a {
    text-decoration: none;
    cursor: pointer;
  }
  .link {
    color: #0966ca;
  }
  .link:hover {
  text-decoration: underline;
  }
  .link.large {
    margin: 10px 0;
    color: #07f;
    font-size: 24px;
    font-weight: 600;
  }
  ul {
    list-style: none;
    padding-inline-start: 0;
  }
  blockquote {
  font-size: 16px;
  line-height: 24px;
  color: #333;
  }
  blockquote:before {
    width: 2px;
    height: 100%;
    background-color: #d1d5da;
  }
  
  .hide {
    display: none!important;
    opacity: 0!important;
    visibility: hidden!important;
    pointer-events: none!important;
  }
  
  
  /* colors and backgrounds */
  .bg-gray {
    background-color: #fafafa;
  }
  .bg-gray-1 {
    background-color: #f7f7f7;
  }
  .bg-gray-2 {
    background-color: #f1f1f4;
  }
  
  .bg-111 {
    background-color: #111;
  }
  
  .bg-blue {
    background-color: #07f;
  }
  
  .bg-blur {
    -webkit-backdrop-filter: saturate(180%) blur(20px)!important;
    backdrop-filter: saturate(180%) blur(20px)!important;
    background-color: rgba(240,240,240,0.8)!important;
  }
  
  /* font faces */
  @font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fiveatoms.com/new/assets/fonts/inter/Inter-Regular.woff2?v=3.11") format("woff2"),
       url("https://fiveatoms.com/new/assets/fonts/inter/Inter-Regular.woff?v=3.11") format("woff");
  }
  @font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fiveatoms.com/new/assets/fonts/inter/Inter-Medium.woff2?v=3.11") format("woff2"),
       url("https://fiveatoms.com/new/assets/fonts/inter/Inter-Medium.woff?v=3.11") format("woff");
  }
  @font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://fiveatoms.com/new/assets/fonts/inter/Inter-SemiBold.woff2?v=3.11") format("woff2"),
       url("https://fiveatoms.com/new/assets/fonts/inter/Inter-SemiBold.woff?v=3.11") format("woff");
  }
  @font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fiveatoms.com/new/assets/fonts/inter/Inter-Bold.woff2?v=3.11") format("woff2"),
       url("https://fiveatoms.com/new/assets/fonts/inter/Inter-Bold.woff?v=3.11") format("woff");
  }
  @font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("https://fiveatoms.com/new/assets/fonts/inter/Inter-ExtraBold.woff2?v=3.11") format("woff2"),
       url("https://fiveatoms.com/new/assets/fonts/inter/Inter-ExtraBold.woff?v=3.11") format("woff");
  }
  
  /* text styles */
  h1, .h1 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-family: Inter, Arial, sans-serif;
  font-size: 48px;
  line-height: 57px;
  font-weight: 500;
  }
  h2, .h2 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 40px;
  line-height: 42px;
  font-weight: 500;
  }
  h3, .h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  }
  h4, .h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 32px;
  font-weight: 500;
  }
  h5, .h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  }
  h6, .h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  }
  p, .p {
  margin-top: 0;
  margin-bottom: 15px;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  }
  
  /* special */
  p.semi-large {
    font-size: 18px;
    line-height: 1.5;
    color: black;
  }
  p.large, .p.large {
  color: #888;
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
  }
  p.regular {
    font-size: 24px;
    line-height: 1.3;
    color: #333;
  }
  .gigantic-heading {
  margin-bottom: 30px;
  font-size: 120px;
  line-height: 120px;
  font-weight: 500;
  }
  .huge-heading {
  margin-bottom: 35px;
  color: #111;
  font-size: 80px;
  line-height: 1.125;
  font-weight: 600;
  }
  .large-heading {
    margin-bottom: 25px;
  color: #111;
  font-size: 64px;
  line-height: 1.125;
  font-weight: 600;
  }
  .callout {
    margin-bottom: 15px;
    color: #111;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 500;
    letter-spacing: 0.004em;
  }
  .sub-heading {
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 1.2;
  font-weight: 500;
  }
  .sub-heading.large {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.125;
    font-weight: 500;
  }
  .eyebrow {
  margin-bottom: 16px;
  color: #000;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  }
  .eyebrow-alt {
    color: rgb(130, 130, 130);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .caption {
    color: #333;
    font-size: 14px;
    line-height: 20px;
  }
  
  /* responsive sizing */
  @media only screen and (max-width: 990px) {
  h1, .h1 {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 42px;
  }
  h2, .h2 {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 38px;
  }
  h3, .h3 {
    font-size: 28px;
    line-height: 32px;
  }
  h4, .h4 {
    font-size: 24px;
    line-height: 30px;
  }
  h5, .h5 {
    font-size: 20px;
  }
  .gigantic-heading {
    font-size: 80px;
    line-height: 95px;
  }
  .huge-heading {
    font-size: 70px;
    line-height: 70px;
  }
  .large-heading {
      font-size: 54px;
  }
  .callout {
        font-size: 28px;
        line-height: 1.14;
    }
  }
  @media only screen and (max-width: 770px) {
  h1, .h1 {
    font-weight: 400;
  }
  h5, .h5 {
    line-height: 26px;
  }
  .gigantic-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .huge-heading {
    font-size: 60px;
    line-height: 60px;
  }
  .large-heading {
      font-size: 50px;
  }
  .callout {
        font-size: 24px;
        line-height: 1.16;
    }
  }
  
  
  /* text colors */
  .tc-9 {
    color: #999;
  }
  .tc-3 {
    color: #333;
  }
  
  
  .tc-semi {
    color: rgba(0,0,0,0.6);
  }
  .tc-white {
    color: white;
  }
  .tc-semi-white {
    color: rgba(255,255,255,0.6);
  }
  .tc-semi-white.darker {
    color: rgba(255,255,255,0.8)!important;
  }
  
  /* styling only <b> elements as child */
  .tc-b-c b {
    color: #ccc;
  }
  
  
  /* = Spacing = */
  .no-space-bottom {
    margin-bottom: 0;
  }
  .no-space-top {
    margin-top: 0;
  }
  .space-top-tiny {
    margin-top: 5px;
  }
  .space-top-very-small {
    margin-top: 10px;
  }
  .space-top-small {
    margin-top: 20px;
  }
  .space-top {
    margin-top: 30px;
  }
  .space-top-semi-large {
  margin-top: 45px;
  }
  .space-top-large {
    margin-top: 60px;
  }
  .space-top-very-large {
    margin-top: 90px;
  }
  .space-top-huge {
    margin-top: 120px;
  }
  .space-top-gigantic {
    margin-top: 150px;
  }
  .space-bottom-tiny {
    margin-bottom: 5px;
  }
  .space-bottom-very-small {
  margin-bottom: 10px;
  }
  .space-bottom-small {
  margin-bottom: 20px;
  }
  .space-bottom {
  margin-bottom: 30px;
  }
  .space-bottom-semi-large {
  margin-bottom: 45px;
  }
  .space-bottom-large {
  margin-bottom: 60px;
  }
  .space-bottom-very-large {
  margin-bottom: 90px;
  }
  .space-bottom-huge {
  margin-bottom: 120px;
  }
  .space-bottom-gigantic {
  margin-bottom: 150px;
  }
  .space-left-tiny {
    margin-left: 5px;
  }
  
  
  /* layout */
  .relative {
    position: relative!important;
  }
  .container, .container-large, .container-very-large, .container-block, .text, .wrapper, .column {
    display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  }
  .row {
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .section {
  width: 100%;
  padding: 7% 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  position: relative;
  }
  .section.full {
    box-sizing: border-box;
    min-height: 100vh;
  }
  .section.padding-very-small {
    padding: 20px;
    width: calc(100% - 40px);
  }
  .section.bg-111, .section.bg-blue {
    color: white;
  }
  .section.border-top {
    border-top: 1px solid #e6e6e6;
  }
  .container {
  width: calc(100% - 44px);
  max-width: 1024px;
  padding: 0 22px;
  }
  .container-large {
    width: calc(100% - 44px);
  max-width: 1296px;
  padding: 0 22px;
  }
  .container-very-large {
    width: calc(100% - 160px);
  max-width: 1440px;
  padding-right: 80px;
    padding-left: 80px;
  }
  .container-block {
    box-sizing: border-box;
    width: calc(100% - 100px);
    max-width: 1024px;
    padding: 80px 50px;
    background-color: #f7f7f7;
  }
  .wrapper {
    width: 100%;
  }
  .wrapper.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .text {
  width: auto;
  max-width: 550px;
  overflow: hidden;
  }
  .text.large {
    max-width: 630px;
  }
  .text.very-large {
    max-width: 700px;
  }
  .text.align-center {
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
    .container-very-large {
        padding-right: 20px;
        padding-left: 20px;
        width: calc(100% - 40px);
    }
    .section.padding-very-small {
        padding: 20px 0;
        width: 100%;
    }
    .section {
        padding: 65px 0;
    }
    .section.full {
        height: auto;
        min-height: 100vh;
    }
  }
  
  /* flex customizations */
  .l-horz {
    flex-direction: row;
  }
  .align-center {
    align-items: center;
  }
  .space-between {
    justify-content: space-between;
  }
  
  
  .caption-block {
    width: 100%;
    margin-bottom: 10px;
  }
  .caption-block p {
    font-size: 14px;
    color: #111;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    margin: 40px 0;
  }
  .divider.dark {
    background-color: #333;
  }
  .text-divider {
    width: 32px;
    background-color: #d1d5da;
    margin: 15px 0;
  }
  
  .grid {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  }
  .grid-overflow {
  width: 100%;
  overflow-x: scroll;
  }
  .grid-1 {
  grid-template-columns: auto;
  }
  .grid-2 {
  grid-template-columns: auto auto;
  }
  .grid-2-force {
    grid-template-columns: 50% 50%;
  }
  .grid-3 {
  grid-template-columns: auto auto auto;
  }
  .grid-4 {
  grid-template-columns: auto auto auto auto;
  }
  .grid-5 {
  grid-template-columns: auto auto auto auto auto;
  }
  .grid-6 {
  grid-template-columns: auto auto auto auto auto auto;
  }
  .gap-no {
    grid-gap: 0;
  }
  .gap-1 {
  grid-gap: 1px;
  }
  .gap-10 {
  grid-gap: 10px;
  }
  .gap-20 {
  grid-gap: 20px;
  }
  .gap-30 {
  grid-gap: 30px;
  }
  .gap-40 {
  grid-gap: 40px;
  }
  .gap-50 {
  grid-gap: 50px;
  }
  .gap-60 {
  grid-gap: 60px;
  }
  .gap-70 {
  grid-gap: 70px;
  }
  .gap-80 {
  grid-gap: 80px;
  }
  .gap-90 {
  grid-gap: 90px;
  }
  .grid-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  @media only screen and (max-width: 992px) {
    .grid.break-main {
        grid-template-columns: auto auto;
    }
  }
  @media only screen and (max-width: 660px) {
    .grid.break-main {
        grid-template-columns: auto;
    }
  }
  @media only screen and (max-width: 770px) {
    .grid.break-medium {
        grid-template-columns: auto;
    }
  }
  
  .columns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .columns .column {
    flex: 1;
    max-width: 50%;
  }
  .column.full {
    width: 100%;
    max-width: none;
  }
  .columns .column.text {
    padding-right: 80px;
  }
  .column-image {
    width: 100%;
    height: 100%;
  }
  .feature-column {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    min-height: 750px;
    padding: 50px 13%;
    max-width: 630px;
    background-color: #fbfbfb;
  }
  
  @media only screen and (max-width: 992px) {
    .columns.break-main {
        flex-direction: column;
    }
    .columns.break-main .column {
        flex: 1;
        max-width: none;
    }
    .columns.break-main .column.text {
        padding-right: 0;
        margin-bottom: 50px;
    }
    .feature-column {
        min-height: auto;
        padding: 50px 30px;
    }
  }
  @media only screen and (max-width: 768px) {
    .columns.break-medium {
        flex-direction: column;
    }
    .columns.break-medium .column {
        flex: 1;
        max-width: none;
    }
    .columns.break-medium .column.text {
        padding-right: 0;
        margin-bottom: 50px;
    }
    .feature-column {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .column.full.img {
        height: 500px;
    }
    .column-image {
        height: 500px;
    }
  }
  @media only screen and (max-width: 480px) {
    .columns.break-small {
        flex-direction: column;
    }
    .columns.break-small .column {
        flex: 1;
        max-width: none;
    }
     .columns.break-small .column.text {
        padding-right: 0;
        margin-bottom: 50px;
    }
  }
  
  /* specific layouts */
  .section-block {
    width: calc(100% - 80px);
    padding: 20px 40px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .section-block-container {
    padding: 150px 80px 120px 80px;
    background-color: #fafafa;
    width: calc(100% - 160px);
    max-width: 1440px;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  @media only screen and (max-width: 990px) {
    .section-block-container {
        padding: 50px 30px 70px;
        width: calc(100% - 60px);
    }
  }
  @media only screen and (max-width: 570px) {
    .section-block {
        width: calc(100% - 40px);
        padding: 20px;
    }
  }
  @media only screen and (max-width: 450px) {
    .section-block-container {
        padding: 50px 10px 70px;
        width: calc(100% - 20px);
    }
  }
  
  .feature-text-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  @media only screen and (max-width: 770px) {
    .feature-text-block {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .feature-text-block .text {
        margin-bottom: 60px;
    }
  }
  
  
  
  /* images */
  .img.full {
    width: 100%;
  }
  .image.full {
    width: 100%;
    height: 680px
  }
  @media only screen and (max-width: 770px) {
    .image.full {
        height: 480px
    }
  }
  @media only screen and (max-width: 570px) {
    .image.full {
        height: 380px
    }
  }
  
  .image-caption {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    color: #777;
    font-size: 14px;
    line-height: 20px;
  }
  
  /* features */
  .feature-blocks {
    width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  }
  .feature-blocks.c-3 {
    grid-template-columns: auto auto auto;
  }
  @media only screen and (max-width: 850px) {
    .feature-blocks {
        grid-template-columns: auto auto;
    }
    .feature-blocks.c-3 {
        grid-template-columns: auto;
    }
    .feature-blocks .feature-block.small {
        width: 100%;
        max-width: none;
    }
  }
  @media only screen and (max-width: 700px) {
    .feature-blocks {
        grid-template-columns: auto;
    }
  }
  .feature-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
  }
  .feature-block.small {
    max-width: 275px;
  }
  .caption.feature-caption {
    max-width: 200px;
  }
  
  
  /* blog cards */
  .card {
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .card:hover {
    transform: translateY(-10px);
  }
  .card.no-max-w{
    max-width: none;
  }
  .card.large {
    max-width: none;
    flex-direction: row-reverse;
  }
  .card .card-image {
    height: 185px;
    width: 100%;
  }
  .card.large .card-image {
    height: 100%;
    width: 60%;
  }
  .card-content {
    padding: 30px 30px 25px;
  }
  .card.large .card-content {
    padding: 30px 30px 25px;
    padding-right: 40px;
    width: calc(40% - 40px);
    height: calc(100% - 55px);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .card-title {
    color: rgb(38, 38, 38);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
  }
  .card-content .card-text {
    color: rgb(38, 38, 38);
    margin-bottom: 25px;
  }
  .card-link {
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #e6e6e6;
    color: #07f;
    transition: 0.3s ease-in-out;
  }
  .card-link:hover {
    opacity: 0.7;
  }
  
  @media only screen and (max-width: 992px) {
    .card {
        max-width: none;
    }
    .card.large {
        max-width: none;
        flex-direction: column;
    }
    .card.large .card-image {
        height: 185px;
        width: 100%;
    }
    .card.large .card-content {
        padding: 30px 30px 25px;
        width: auto;
        height: auto;
        display: block;
    }
  }
  @media only screen and (max-width: 660px) {
    .card, .card.large {
        max-width: 100%;
    }
    .card-image {
        height: 300px!important;
    }
  }
  
  .mx-gn-menu-button[aria-expanded='true'] .mx-gn-menu-button-bar.top {
  transform: translateY(4px) rotate(45deg);
  }
  .mx-gn-menu-button[aria-expanded='true'] .mx-gn-menu-button-bar.bottom {
  transform: translateY(-4px) rotate(-45deg);
  }
  .mx-gn-menu-button-bars {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .mx-gn-menu-button-bar {
  width: 15px;
  height: 1px;
  background-color: black;
  transition: 0.2s ease-in-out;
  }
  .mx-gn-menu-button-bar.top {
  transform: translateY(0) rotate(0);
  }
  .mx-gn-menu-button-bar.bottom {
  margin-top: 7px;
  transform: translateY(0) rotate(0);
  }
  
  .mx-globalnav.dark .mx-gn-menu-button-bar {
    background-color: white;
  }
  
  .mobile-only {
  display: none;
  visibility: hidden;
  pointer-events: none;
  }
  @media only screen and (max-width: 770px) {
  .desktop-only, .mx-gn-list-item {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .mobile-only, .mx-gn-list-item.always {
    display: block;
    visibility: visible;
    pointer-events: auto;
  }
  }
  .mx-gn-item {
  height: 44px;
  }
  .mx-gn-mobile-menu {
    padding: 30px 22px;
  width: calc(100vw - 44px);
  height: 100vh;
    position: fixed;
  margin: 0;
  top: 45px;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  background-color: white;
  transition: 0.3s ease-in-out;
  
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transform: translate(-100px, -100px);
  }
  .mx-gn-mobile-menu-button[aria-expanded='true'] .mx-gn-menu-button-bar.top {
  transform: translateY(4px) rotate(45deg);
  }
  .mx-gn-mobile-menu-button[aria-expanded='true'] .mx-gn-menu-button-bar.bottom {
  transform: translateY(-4px) rotate(-45deg);
  }
  .mx-gn-mobile-menu-button[aria-expanded='true']+.mx-gn-mobile-menu {
  /*display: flex;*/
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  overflow: hidden;
  z-index: 999;
  transform: translate(0,0);
  }
  .mx-gn-mobile-menu-button[aria-expanded='true']+.mx-gn-mobile-menu.bg-blur {
    top: 44px;
  }
  .mx-gn-mobile-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  }
  .mx-gn-mobile-list:last-child {
  margin-bottom: 0;
  }
  .mx-gn-mobile-list li {
  width: 100%;
  }
  .mx-gn-mobile-list-item-category {
  margin-bottom: 10px;
  }
  .mx-gn-mobile-list-item-category span {
  color: #666;
  }
  .mx-gn-mobile-list li a {
  width: 100%;
  display: flex;
  color: black;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  padding: 10px 0px;
  border-bottom: 1px solid #e6e6e6;
  transition: 0.2s ease-in-out;
  }
  .mx-gn-mobile-list li a:hover {
  opacity: 0.7;
  }
  
  /* mx-footer */
  .mx-footer {
    width: calc(100% - 44px);
    padding: 15px 22px;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f1f1f1;
  }
  .mx-footer span {
    color: #5a5a5a;
  }
  .mx-social-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .mx-social-link {
    padding: 0 10px;
    height: calc(100% - 20px);
    color: #5a5a5a;
    cursor: pointer;
  }
  .mx-social-link img {
    transition: 0.2s ease-in-out;
  }
  .mx-social-link:hover > img {
    transform: translateY(-2px);
  }
  .mx-social-link img {
    width: 20px;
  }
  @media only screen and (max-width: 600px) {
    .mx-footer {
        justify-content: center;
        flex-direction: column;
    }
    .mx-footer span {
        margin-bottom: 10px;
    }
  }
  .mx-social-menu {
    list-style: none;
  padding-inline-start: 0;
  padding: 0;
  margin: 0;
    position: absolute;
  display: flex;
  visibility: visible;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  top: 40px;
  right: 0;
  width: 7.5rem;
  background-color: white;
  overflow: hidden;
  border-radius: 5px;
  z-index: 999999999999;
  box-shadow: 0 0 15px rgba(0,0,0,.15),0 0 1px 1px rgba(0,0,0,.1);
  
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  }
  .mx-footer .mx-social-menu {
    bottom: 60px!important;
    right: 25px!important;
    top: auto!important;
  }
  .mx-social-link-menu-button {
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    transition: 0.2s ease-in-out;
  }
  .mx-social-link-menu-button:hover {
    background-color: #f7f7f7;
  }
  .mx-social-link-menu-button:hover > img {
    transform: translateY(0);
  }
  .mx-social-link-menu-button.white:hover {
    background-color: #333;
  }
  .mx-social-link-menu-button[aria-expanded='true'] {
    background-color: #eee;
  }
  .mx-social-link-menu-button.white[aria-expanded='true'] {
    background-color: #222;
  }
  .mx-social-link-menu-button[aria-expanded='true']+.mx-social-menu {
    display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  }
  .mx-social-menu li {
    width: 100%;
  }
  .mx-social-menu-link {
    width: calc(100% - 2rem);
  border: none;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.125rem;
  color: #000;
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  }
  .mx-social-menu-link:hover {
    background-color: #f7f7f7;
  }
  
  /* mx-btn */
  .mx-btn {
  padding: 10px 16px;
  border-radius: 6px;
  background-color: #07f;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  }
  .mx-btn:hover {
  background-color: #3452ff;
  }
  
  /* size variations */
  .mx-btn.small {
  padding: 7px 10px;
  border-radius: 4px;
  }
  .mx-btn.large {
  padding: 15px 20px;
  border-radius: 4px;
  }
  
  /* color variations */
  .mx-btn.white {
  background-color: white;
  color: black;
  }
  .mx-btn.white:hover {
  color: #3452ff;
  }
  .mx-btn.pink {
  background-color: #ff1456;
  }
  .mx-btn.pink:hover {
  background-color: #d2003b;
  }
  
  .gx-btn {
    display: inline-block;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1074e7;
    border-radius: 3px;
    transition: .2s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .gx-btn:hover {
    background-color: #0366d6;
  }
  
  /* special */
  .underline-link {
    margin-top: 15px;
  border-bottom: 1px solid #ddd;
  position: relative;
  color: black;
  padding-bottom: 4px;
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .underline-link.white {
    border-color: #555;
    color: white;
  }
  .underline-link:before {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -1px;
  opacity: 0;
  transform-origin: left; 
  transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .underline-link:hover:before {
  width: 100%;
  opacity: 1;
  }
  .underline-link.white:before {
    background-color: white;
  }
  .move-link {
    height: 25px;
    font-size: 16px;
    color: #07f;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  .move-link:hover {
    transform: translateY(-3px);
  }
  
  
  /* form */
  .form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  .mx-input {
  height: 42px;
  width: 100%;
  max-width: 325px;
  margin-bottom: 10px;
  color: #494949;
  font-size: 15px;
  line-height: 1.29412;
  font-weight: 400;
  letter-spacing: -.021em;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 53px 0 15px;
  border: 1px solid #d6d6d6;
  border-radius: 6px;
  text-align: left;
  outline: none;
  box-shadow: none;
  z-index: 1;
  }
  .mx-input:focus {
  border-color: #07f;
  outline: none;
  z-index: 2;
  }
  textarea.mx-input {
    max-width: none;
  height: auto;
  padding: 10px;
  }
  .form.full .mx-input {
    max-width: none;
  }
  label {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 3px;
  }
  
  input.mx-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  /* mx-tag */
  .mx-tag {
  padding: 3px 7px;
  border-radius: .9375rem;
  background-color: #d0e2ff;
  color: #0043ce;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  margin-right: 5px;
  margin-bottom: 5px;
  }
  .mx-tag:last-child {
    margin-right: 0;
  }
  .mx-tag.red {
  background-color: #ffd7d9;
  color: #a2191f!important;
  }
  .mx-tag.magenta {
  background-color: #ffd6e8;
  color: #9f1853!important;
  }
  .mx-tag.purple {
  background-color: #e8daff;
  color: #6929c4!important;
  }
  .mx-tag.cyan {
  background-color: #bae6ff;
  color: #00539a!important;
  }
  .mx-tag.teal {
  background-color: #9ef0f0;
  color: #005d5d!important;
  }
  .mx-tag.green {
  background-color: #a7f0ba;
  color: #0e6027!important;
  }
  .mx-tag.gray {
  background-color: #e0e0e0;
  color: #161616!important;
  }
  .mx-tag.cool-gray {
  background-color: #dde1e6;
  color: #121619!important;
  }
  .mx-tag.warm-gray {
  background-color: #e5e0df;
  color: #171414!important;
  }
  
  
  /* Animate */
  
  .fadein {
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  }
  .fadeout {
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s;
  }
  .fadeup {
  -webkit-animation: fadeup 1s;
  animation: fadeup 1s;
  }
  
  
  @keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
  @-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }
  @keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
  }
  @-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
  }
  @keyframes fadeup {
  from { opacity: 0; margin-top: 100px; }
  to   { opacity: 1; margin-top: 0; }
  }
  @-webkit-keyframes fadeup {
  from { opacity: 0; margin-top: 100px; }
  to   { opacity: 1; margin-top: 0; }
  }
  
  /* END Animate */